<h2>Create a Comment for This Post</h2>

<%= form_for [@school, @post, @comment] do |f|%>

  <%=f.label :name %>
  <%=f.text_field :commentor %>

  <%=f.label :comment %>
  <%=f.text_field :text %>

  <%= f.submit "Create"%>
<%end%>
