<div class="container">
    <div class="jumbotron">
        <h1><%= @school.name %></h1>
        <h3>Home of the <%=@school.mascot%></h3>
            <img><%=image_tag (@school.img_url)%></img>
    </div>
</div>

<hr class="featurette-divider">
    <p><%= link_to "Add a Post!", new_school_post_path(@school)%></p>
      <% flash.each do |type, message| %>
        <p> <%= message %></p>
          <% end %>
<hr class="featurette-divider">

<div class="container">
  <% @school.posts.order(created_at: :DESC).each do |post| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title"><%=link_to post.title, school_post_path(@school, post) %></h2>
        <p>Author: <%=post.user[:username]%> | Created <%=time_ago_in_words(post.created_at)%> ago</p>
      </div>
    <div class="panel-body">
      <p class="text"><%=post.content%></p>
    </div>
  </div>
    <a href="/schools/<%=@school.id%>/posts/<%=post.id%>"><p class="btn btn-primary" role="button">View Comments &raquo;</p></a>
    <%end%>
  </div>
</div>

<hr class="featurette-divider">
