<div class="container">
    <div class="jumbotron">
        <h1><%= @school.name %></h1>
            <img><%=image_tag (@school.img_url)%></img>
    </div>
</div>

<p><%= link_to "Add a Post!", new_school_post_path(@school)%>
<div class="container">
  <div class="row">
          <div class="col-lg-4">
            <% @school.posts.each do |post| %>
            <h2 class="post-titl"><%=link_to post.title, school_post_path(@school, post) %></h2>
            <p>Author: <%=post.user_id%> <%=post.user[:last_name]%></p>
            <p><%=post.timestamp%></p>
            <p class="text"><%=post.content%></p>
            <p><a class="btn btn-primary" href="#" role="button">View Comments &raquo;</a></p>
              <%end%>
          </div>
        </div>
</div>
