
<div class="container">
  <div class="postshow">
      <h1><%= @post.title %></h1>
      <h3>Creator: <%=@post.user[:username]%></h3>
      <%if @post.user == current_user%>
      <p><%= link_to "Edit this Post", edit_school_post_path(@school, @post)%></p>
      <%else%>
      <%end%>
      <p> Created <%=time_ago_in_words(@post.created_at)%> ago</p>

    <div class="container_post">
      <h4><%=@post.content%></h4>
    </div>
  </div>
</div>

  <hr class="featurette-divider">

<h3>Comments</h3>
<p><%= link_to "Comment on This Post", new_school_post_comment_path(@school, @post, @comment)%></p>
  <div class="container">
    <% @post.comments.each do |comment| %>
        <div class="comments">
            <div class="well">
                <div class="commentor">
                    <p><span class="glyphicon glyphicon-user"></span><%=comment.user[:username]%> commeted <%=time_ago_in_words(comment.created_at)%> ago</p>
                </div>
                <p><%=comment.text%>
            </div>
    <%end%>
    </div>
</div>

<hr class="featurette-divider">
