<h1><%= @post.title %></h1>
<h2>Author: <%=@post.author%></h2>
<h3><%=@post.content%></h3>

<%if post.user == current_user%>
    <p><%= link_to "Edit this Post", edit_school_post_path(@school, @post)%></p>
    <p><%= link_to "Comment on This Post", new_school_post_comment_path(@school, @post, @comment)%></p>
<%end%>

<h3>Comments</h3>
<div class="container">
  <% @post.comments.each do |comment| %>
      <div class="comments">
          <div class="well">
              <div class="commentor">
                <p><span class="glyphicon glyphicon-user">  <%=comment.commentor%></span></p>
              </div>
                <p><%=comment.text%>
          </div>
        <%end%>

  </div>
</div>
