<h1><%= @post.title %></h1>
<h3>Author: <%=@post.user[:username]%></h3>
<p>Created: <%=@post.created_at%> | Updated: <%=@post.updated_at%></p>

<h3><%=@post.content%></h3>


     <p><%= link_to "Edit this Post", edit_school_post_path(@school, @post)%></p>
     <p><%= link_to "Comment on This Post", new_school_post_comment_path(@school, @post, @comment)%></p>


<h3>Comments</h3>
<div class="container">
  <% @post.comments.each do |comment| %>
      <div class="comments">
          <div class="well">
              <div class="commentor">
                  <p>Commentor: <%=comment.user[:username]%></p>
              </div>
                  <p>Created: <%=comment.created_at%> | Updated: <%=comment.updated_at%></p>
                <p><%=comment.text%>
          </div>
        <%end%>

  </div>
</div>
